#header{
	vertical-align: middle;
	background: #fff;
	border-bottom: 1px solid #efeff4;
	box-shadow: initial;
}
#header:after{
	display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle
}
#header .backBtn{
	vertical-align: middle;
	display: inline-block;
	width:17px;
	height:18px;
	background: url(../../public/assets/img/fanhui-icon@2x.png);
	background-size: cover;
}
 .title{
  margin:0.5rem 0.5rem 0.1rem 0.5rem;
  color: #FF3D1D;
  font-weight: bold;
 }
.content{
    margin:0.1rem 0.5rem 0.1rem 0.5rem;
}
.content p{
	margin: 0px;
	font-size: 0.24rem;
}
