#header{
	vertical-align: middle;
	background: #fff;
	border-bottom: 1px solid #efeff4;
	box-shadow: initial;
}
#header:after{
	display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle
}
#header .backBtn{
	vertical-align: middle;
	display: inline-block;
	width:17px;
	height:18px;
	background: url(../../public/assets/img/fanhui-icon@2x.png);
	background-size: cover;
}
#header img{
	width:15px;
	vertical-align: middle;
	margin-right: 5px;
}
#header .rule{
	color:#999;
	font-size: 14px;
	line-height: 1.2;	
	margin-top: 5px;	
}
#content{
    padding-bottom: 0;
/*    overflow: scroll;*/
    background: #efeff4;
    margin-top:.2rem;
    text-align: center;
}
#content .item{
	display: flex;
	width:6.68rem;
	height: 2.42rem;
	background: #fff;	
	margin:0 auto .3rem;
	border-radius: .07rem;
	border-bottom: .07rem solid #FE8A18;
	color: #FE8A18;
	text-align: center;
}
#content .item .item-left{
	width:60%;
	height: 100%;
	border-right:1px dashed #FE8A18;
	font-size: .22rem;	
	line-height: 2.8;
}
#content .item .item-left div:nth-child(2){
	font-size: .72rem;
	border-top:1px solid #FE8A18;
	border-bottom:1px solid #FE8A18;
	width:60%;
	margin:0 auto;
	line-height: 1.5;	
}
#content .item .item-left div:nth-child(3){
	color:#999;
}
#content .item .item-left div:nth-child(3) span{
	padding:0 .1rem;
}
#content .item .item-left div:nth-child(3) em{
	padding:0 .1rem;
}
#content .item .item-right{
	width:40%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-position: right top;
}
#content .item .active{
	background-image: url(../../public/assets/img/hasChosen@2x.png);
}
#content .item.item_gwq{
	background: #FFF url(../../public/assets/img/gwq@2x.png) no-repeat bottom right/1.9rem;
}
#content .item.item_dyq{
	background: #FFF url(../../public/assets/img/dyq@2x.png) no-repeat bottom right/1.9rem;
}
#content .item .item-right h2{
	line-height: 4;
}
#content .confirmBtn{
	margin:1rem auto;
	width:40%;
}
