/******header-start******/
#header{
	vertical-align: middle;
}
#header:after{
	display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle
}
#header .backBtn{
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	display: inline-block;
	width:17px;
	height:18px;
	background: url(../../public/assets/img/fanhui-icon@2x.png);
	background-size: cover;
}
/******header-end******/

/******content-start******/
.contentImg
{
	text-align:center;
}
.contentImg img{
	margin-top: 1rem;
	height: 2.4rem;
	margin-bottom: 0.12rem;
}
.contentUs{
	margin-top:0.5rem;
}
.contentUs p{
	margin: 0.1rem 0.16rem;
}
.contentUs p strong{
	font-weight: bold;
}
