
#header{
	background: #FEFEFE;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 90px;
	padding:0;
}
#header .header-title{
	padding:0 10px;
} 
#header h1{
	height:42px;
}
#header .backBtn{
	background: url(../../public/assets/img/fanhui-icon@2x.png) no-repeat left center;
	background-size: cover;
}
#header .tab{
	height: 46px;
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	background: #FEFEFE;
	margin-top:5px;
	margin-bottom: 4px;
}
#header .tab ul{
	width:100%;
	height:100%;
	display: flex;
}
#header .tab li{
	flex: 1;
	line-height: 42px;
	float: left;
	height: 43px;
	padding:0 .5rem;
	text-align: center;
	font-size: 14px;
}
#header .tab li:first-of-type{
	background: url(../../public/assets/img/bg-shu.png) no-repeat right center/1px 24px;
}
#header .tab li a{
	display: inline-block;
	/*padding:0 .1rem;*/
	height:100%;
	line-height: 40px;
	font-size: 14px;
	color: #2B2B2B;
	border-bottom: 3px solid #FEFEFE;
	font-weight: 500;
}
#header .tab .active a{
	color: #FF3D1D;
	border-bottom: 3px solid #F6DA00;
}
#content{
	padding-top:98px;
}
#content .item{
	background: #FEFEFE;
	margin-bottom: .2rem;
}
#content .item-title{
	height:.66rem;
	border-bottom: 1px solid #E0E0E0;
	line-height: .66rem;
	padding:0 .2rem;
	font-size: .2rem;
	color: #999;
}
#content .item-title em i{
	margin-right: .16rem;
}
#content .item-content{	
	width:100%;
}
#content .item-content .content-details{
	height: 1rem;
	font-size: .28rem;
	color:#666;
	padding:0 .2rem;
	border-bottom: 1px solid #E0E0E0;
}
#content .item-content .content-details dt{
	line-height: 2;
	color:#2b2b2b;
	width:4.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#content .item-content .content-details dd{
	line-height: 1;
	font-size: .24rem;
	color:#666;
}
#content .item-content .content-details p{
	line-height: .94rem;
	margin: 0;
	width:2rem;
}
#content .item-content .content-details p span{
	font-size: .22rem;
	color: #dd0404;
}
#content .item-content .content-details p span b{
	font-size: .28rem;
}
#content .item-content .content-details p span i{
	font-size: .2rem;
	color:#666;
}
#content .item-content .content-details p em{
	font-size: .28rem;
	color:#000;
	font-weight: bold;
}
#content .item-footer{
	height:.86rem;
	line-height: .86rem;
	padding:0 .2rem;
	border-bottom: 1px solid #E0E0E0;
}
#content .item-footer p{
	font-size: .2rem;
	color:#999;
	
}
#content .item-footer p em,#content .item-footer p i,#content .item-footer p b{
	color:#ff3d1d;
}
#content .item-footer span{
	font-size: .26rem;
	color: #666;
	display: inline-block;
	width:1.46rem;
	height:.54rem;
	border:.02rem solid #E0E0E0;
	border-radius: .05rem;
	line-height: .5rem;
	text-align: center;
	margin-top:.15rem;
	margin-right: .14rem;
	font-weight: 500;
}
#content .item-footer a{
	font-size: .26rem;
	color: #2b2b2b;
	width:1.46rem;
	height:.54rem;
	background: #ffd600;
	border:1px solid #E6C30d;
	border-radius: .05rem;
	line-height: .54rem;
	text-align: center;
	margin-top:.15rem;
	font-weight: 500;
}
#content .nullShow{
	margin-top:.8rem;
	background: url(../../public/assets/img/null.png) no-repeat top center/2.18rem;
	width:100%;
	height:10rem;
	padding-top:2.6rem;
	text-align: center;
}
#content .nullShow div:nth-child(1){
	font-size: .3rem;
	color: #50586c;
}
#content .nullShow div:nth-child(2){
	font-size: .26rem;
	color: #999;
	margin-bottom: .4rem;
}
#content .nullShow div:nth-child(3) button{
	font-size: .3rem;
	color: #000;
	width:2.56rem;
	height:.6rem;
	border:none;
	background: #ffd600;
	line-height: .6rem;
	padding:0;
	border-radius: .2rem;
}